{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="#">Metodo de Pagamento<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="#">Cartao <span class="sr-only">(current)</span></a>
                    </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <form method="GET" action="/pedidos/finalizar2/">
                    <input type="hidden" name="comanda_id" value="{{comanda_atual.id}}"/>
                    <h3 class="total"> Total: {{comanda_atual.total}}<h3>
                    <br>
                    <button autofocus class="style1 fundo1" type="submit">Finalizar</button>
                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}