{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<h4>Cliente: {{comanda_obj.cli.nome}}</h4>
<main>
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Tamanho</th>
                    <th>Acomp.</th>
                    <th>Adicionais</th>
                    <th>Total</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for acais in acais1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_acai_id" value="{{acais}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{acais.acai_item.img}}.png" /></button></td>
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{acais.acai_item.tamanho}}.png" /></button></td>
                        <td width="15%">{{acais.get_acompanhamento_display}}</td>
                        <td width="25%">
                            {% for adicional in acais.adicionais.all %}
                            {{adicional.nome}},
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{acais.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for casadinhos in casadinhos1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_casadinho_id" value="{{casadinhos}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{casadinhos.casadinho_item.img}}.png" /></button></td>
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{casadinhos.casadinho_item.tamanho}}.png" /></button></td>
                        <td width="15%">{{casadinhos.get_acompanhamento_display}}</td>
                        <td width="25%">
                            {% for adicional in casadinhos.adicionais.all %}
                            {{adicional.nome}}<br />
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{casadinhos.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for mixs in mixs1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_mix_id" value="{{mixs}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{mixs.mix_item.img}}.png" /></button></td>
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{mixs.mix_item.tamanho}}.png" /></button></td>
                        <td width="15%">{{mixs.get_acompanhamento_display}}</td>
                        <td width="25%">
                            {% for adicional in mixs.adicionais.all %}
                            {{adicional.nome}}<br />
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{mixs.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for cremes in cremes1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_creme_id" value="{{cremes}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{cremes.creme_item.img}}.png" /></button></td>
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{cremes.creme_item.tamanho}}.png" /></button></td>
                        <td width="15%">{{cremes.get_acompanhamento_display}}</td>
                        <td width="25%">
                            {% for adicional in cremes.adicionais.all %}
                            {{adicional.nome}}<br />
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{cremes.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for sorvetes in sorvetes1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_sorvete_id" value="{{sorvetes}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{sorvetes.sorvete_item.img}}.png" /></button></td>
                        <td width="15%"></td>
                        <td width="15%"></td>
                        <td width="25%">
                            {% for adicional in sorvetes.adicionais.all %}
                            {{adicional.nome}}<br />
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{sorvetes.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for mshakes in mshakes1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_mshake_id" value="{{mshakes.id}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{mshakes.mshake_item.img}}.png" /></button></td>
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{mshakes.mshake_item.tamanho}}.png" /></button></td>
                        <td width="15%"></td>
                        <td width="25%">
                            {% for adicional in mshakes.adicionais.all %}
                            {{adicional.nome}}<br />
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{mshakes.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for petits in petits1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_petit_id" value="{{petits.id}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{petits.petit_item.img}}.png" /></button></td>
                        <td width="15%"></td>
                        <td width="15%"></td>
                        <td width="25%">
                            {% for adicional in petits.adicionais.all %}
                            {{adicional.nome}}<br />
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{petits.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for fondues in fondues1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_fondue_id" value="{{fondues.id}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{fondues.fondue_item.img}}.png" /></button></td>
                        <td width="15%"></td>
                        <td width="15%"></td>
                        <td width="25%">
                            {% for adicional in fondues.adicionais.all %}
                            {{adicional.nome}}<br />
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{fondues.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for sucos in sucos1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_suco_id" value="{{sucos.id}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{sucos.suco_item.img}}.png" /></button></td>
                        <td width="15%"></td>
                        <td width="15%"></td>
                        <td width="25%">
                            {% for adicional in sucos.adicionais.all %}
                            {{adicional.nome}}<br />
                            {% endfor %}
                        </td>
                        <td width="15%">
                            <h4>R$ {{sucos.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1"
                                formaction="/pedidos/adicionais/"><img src="../../static/img/adc.png" /></button><button
                                type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

                {% for produtos in produtos1 %}
                <tr>
                    <form method="GET">
                        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
                        <input type="hidden" name="item_produto_id" value="{{produtos.id}}" />
                        <td width="15%"><button class="no-click fundo1"><img
                                    src="../../static/img/{{produtos.produto_item.img}}.png" /></button></td>
                        <td width="15%"></td>
                        <td width="15%"></td>
                        <td width="25%"></td>
                        <td width="15%">
                            <h4>R$ {{produtos.total}}</h4>
                        </td>
                        <td width="15%"><button type="submit" class="style fundo1" formaction="/pedidos/excluir/"><img
                                    src="../../static/img/exc.png" /></button></td>
                    </form>
                </tr>
                {% endfor %}

            </tbody>
            <form>
        </table>
        <div class="float-left">
            <h2>Total: <b>R$ {{comanda_obj.total}}</b></h2><br />
        </div>
        {% csrf_token %}
        <input type="hidden" name="comanda_id" value="{{comanda_obj.id}}" />
        <div class="float-right">
            <button formaction="/pedidos/" formmethod="POST" class="style1 fundo3">Adicionar outro item</button>&nbsp;
            <button formaction="/pedidos/dinheiro/" class="style1 fundo3">Dinheiro</button>&nbsp;
            <button formaction="/pedidos/cartao_credito/" class="style1 fundo3">Cartão Crédito</button>&nbsp;
            <button formaction="/pedidos/cartao_debito/" class="style1 fundo3">Cartão Débito</button>&nbsp;
        </div>
    </form>
</main>
{% endblock %}